In [18]:
import json
from datetime import datetime,date,timedelta,time
import time as t
import pandas as pd
import os
    
contract_multiple = 5.0
def settle(output):
    df = pd.DataFrame(output)
    if not len(df):
        return 0.0
    buys = df[df.direction == 'Buy'].reset_index()
    sells = df[df.direction != 'Buy'].reset_index()
    return ((sells.price - buys.price) * contract_multiple).sum()

def read_file(path):
    datas = {}
    with open(path, 'r') as f:
        datas = json.load(f)
    orders = {}
    settle_timestamps = []
    datetime_from = date(2016, 12, 5)
    datetime_to = date(2017, 11, 23)
    for i in range((datetime_to - datetime_from).days + 1):
        day = datetime_from + timedelta(days=i)
        dt = datetime.combine(day, time(15, 0, 0))
        dt = dt + timedelta(hours=8)

        settle_timestamps.append(int(t.mktime(dt.timetuple()) * 1000))
    output = {
        'order_id' : [],
        'direction' : [],
        'datetime' : [],
        'price' : [],
        'qty' : []
    }
    result = {
        'date' : [],
        'pl': [],
    }
    for order in datas['datas']:
        timestamp = int(order['timestamp'])
        while timestamp > settle_timestamps[0]:
            dt = datetime.fromtimestamp(settle_timestamps[0] / 1000.0)
            #print('{}:{}'.format(dt.strftime('%Y-%m-%d'), settle(output)))
            result['date'].append(dt.strftime('%Y-%m-%d'))
            result['pl'].append(settle(output))
            #output = reset_output()
            del settle_timestamps[0]

        if order['type'] == 'limit_order':
            orders[order['order_id']] = order['direction']
        elif order['type'] == 'trade_order':
            order_id = order['order_id']
            assert order_id in orders, order_id
            for i in range(int(order['qty'])):
                output['order_id'].append(order_id)
                output['direction'].append(orders[order_id])
                output['datetime'].append(datetime.utcfromtimestamp(int(order['timestamp']) / 1000.0))
                output['price'].append(float(order['price']))
                output['qty'].append(1)
        else:
            pass
    dt = datetime.fromtimestamp(settle_timestamps[0] / 1000.0)
    result['date'].append(dt.strftime('%Y-%m-%d'))
    result['pl'].append(settle(output))
    return result,output
    
path = 'd:/WorkSpace/geek_quant/backtesting/result/bechmark'
dfs = []
#for file in os.listdir(path):
#    result = read_file(os.path.join(path, file))
#    df = pd.DataFrame(result)
#    df['instrument'] = file
#    dfs.append(df)
#df = pd.concat(dfs)
result, output = read_file(os.path.join(path, 'zn1801.json'))
pd.DataFrame(result)

           date      pl
0    2016-12-05     0.0
1    2016-12-06     0.0
2    2016-12-07     0.0
3    2016-12-08     0.0
4    2016-12-09     0.0
5    2016-12-10     0.0
6    2016-12-11     0.0
7    2016-12-12     0.0
8    2016-12-13     0.0
9    2016-12-14     0.0
10   2016-12-15     0.0
11   2016-12-16     0.0
12   2016-12-17     0.0
13   2016-12-18     0.0
14   2016-12-19     0.0
15   2016-12-20     0.0
16   2016-12-21     0.0
17   2016-12-22     0.0
18   2016-12-23     0.0
19   2016-12-24     0.0
20   2016-12-25     0.0
21   2016-12-26     0.0
22   2016-12-27     0.0
23   2016-12-28     0.0
24   2016-12-29     0.0
25   2016-12-30     0.0
26   2016-12-31     0.0
27   2017-01-01     0.0
28   2017-01-02     0.0
29   2017-01-03     0.0
..          ...     ...
301  2017-10-02     0.0
302  2017-10-03     0.0
303  2017-10-04     0.0
304  2017-10-05     0.0
305  2017-10-06     0.0
306  2017-10-07     0.0
307  2017-10-08     0.0
308  2017-10-09     0.0
309  2017-10-10     0.0
310  2017-10-11     0.0
311  2017-10-12     0.0
312  2017-10-13     0.0
313  2017-10-14     0.0
314  2017-10-15     0.0
315  2017-10-16     0.0
316  2017-10-17     0.0
317  2017-10-18     0.0
318  2017-10-19     0.0
319  2017-10-20     0.0
320  2017-10-21     0.0
321  2017-10-22     0.0
322  2017-10-23     0.0
323  2017-10-24 -1250.0
324  2017-10-25 -2125.0
325  2017-10-26 -2125.0
326  2017-10-27 -2125.0
327  2017-10-28 -1125.0
328  2017-10-29 -1125.0
329  2017-10-30 -3500.0
330  2017-10-31 -4225.0

[331 rows x 2 columns]

In [16]:
import pandas as pd

df = pd.read_csv('d:/portfolio/result.csv')
df = df[df.instrument == 'zn1801']
df[df.date > '2017-10-23']

,id,date,long_position,long_unfill,pl,short_position,short_unfill,instrument
39970,322,2017-10-23 15:00:00,0,0,0.0,0,0,zn1801
39971,323,2017-10-24 15:00:00,0,0,-1250.0,0,0,zn1801
39972,324,2017-10-25 15:00:00,0,0,-2125.0,0,0,zn1801
39973,325,2017-10-26 15:00:00,0,0,-2125.0,0,0,zn1801
39974,326,2017-10-27 15:00:00,0,0,-2125.0,1,0,zn1801
39975,327,2017-10-28 15:00:00,0,0,-1125.0,2,0,zn1801
39976,328,2017-10-29 15:00:00,0,0,-1125.0,2,0,zn1801
39977,329,2017-10-30 15:00:00,0,0,-3500.0,0,0,zn1801
39978,330,2017-10-31 15:00:00,0,0,-4225.0,0,0,zn1801
39979,331,2017-11-01 15:00:00,0,0,-4225.0,0,0,zn1801
39980,332,2017-11-02 15:00:00,0,0,-4225.0,0,0,zn1801
39981,333,2017-11-03 15:00:00,0,0,-4225.0,0,0,zn1801
39982,334,2017-11-04 15:00:00,0,0,-4225.0,0,0,zn1801
39983,335,2017-11-05 15:00:00,0,0,-4225.0,0,0,zn1801
39984,336,2017-11-06 15:00:00,0,0,-4225.0,0,0,zn1801
39985,337,2017-11-07 15:00:00,0,0,-4225.0,0,0,zn1801
39986,338,2017-11-08 15:00:00,0,0,-4225.0,0,0,zn1801
39987,339,2017-11-09 15:00:00,0,0,-4225.0,0,0,zn1801
39988,340,2017-11-10 15:00:00,0,0,-4225.0,0,0,zn1801
39989,341,2017-11-11 15:00:00,0,0,-4225.0,0,0,zn1801
39990,342,2017-11-12 15:00:00,0,0,-4225.0,0,0,zn1801
39991,343,2017-11-13 15:00:00,0,0,-4225.0,0,0,zn1801
39992,344,2017-11-14 15:00:00,0,0,-4225.0,0,0,zn1801
39993,345,2017-11-15 15:00:00,0,0,-4225.0,0,0,zn1801
39994,346,2017-11-16 15:00:00,0,0,-4225.0,0,0,zn1801
39995,347,2017-11-17 15:00:00,0,0,-4225.0,0,0,zn1801
39996,348,2017-11-18 15:00:00,0,0,-4225.0,0,0,zn1801
39997,349,2017-11-19 15:00:00,0,0,-4225.0,0,0,zn1801
39998,350,2017-11-20 15:00:00,0,0,-4225.0,0,0,zn1801
39999,351,2017-11-21 15:00:00,0,0,-4225.0,0,0,zn1801
40000,352,2017-11-22 15:00:00,0,0,-4225.0,0,0,zn1801
40001,353,2017-11-23 15:00:00,0,0,-4225.0,0,0,zn1801